@import "tailwindcss";

/* Brand Primary */
/* 100 */
.text-brand-primary-100 {
  color: #d9f8f1;
}
.bg-brand-primary-100 {
  background: #d9f8f1;
}
/* 200 */
.text-brand-primary-200 {
  color: #b6f1e8;
}
.bg-brand-primary-200 {
  background: #b6f1e8;
}
/* 500 */
.text-brand-primary-500 {
  color: #2e7077;
}
.bg-brand-primary-500 {
  background: #2e7077;
}
/* 600 */
.text-brand-primary-600 {
  color: #215a66;
}
.bg-brand-primary-600 {
  background: #215a66;
}

/* Brand Secondary */
/* 100 */
.text-brand-secondary-100 {
  color: #feeee2;
}
.bg-brand-secondary-100 {
  background: #feeee2;
}
/* 500 */
.text-brand-secondary-500 {
  color: #f67c6f;
}
.bg-brand-secondary-500 {
  background: #f67c6f;
}

/* Background */
.bg-primary {
  background: #faf9f6;
}
.bg-card {
  background: #fafafa;
}
